*{
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    width: 95vw;
	background: black;
}

.container {
    display: grid;
    grid-template-columns: repeat(80, 15px);
    gap: 5px;
}

.square {
    width: 15px;
    height: 15px;
    background-color: #333; /* Dark gray by default */
    transition: background-color 1s ease; /* Smooth transition on hover */
}
